.cache
.dap-breakpoints
.lsp-session-v1
session.*
.last-package-update-day
.vscode
*.backup
*~
places
*.eld
*.cache
projects
recentf
straight/
transient/
elpa
*.sqp
history
eln-cache/
tree-sitter/
transient
auto-save-list
